# Pandas Tutorial

### Import Libraries

In [3]:
from pandas import DataFrame, Series
import pandas as pd
import json

### Open json document

In [25]:
path = "C:\\Users\\mdeleseleuc\\Documents\\usagov_bitly_data2012-03-16-1331923249.txt"
records = [json.loads(line.decode('utf-8')) for line in open(path, 'rb')]

### Create a data frame

In [26]:
frame = DataFrame(records)
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
_heartbeat_    120 non-null float64
a              3440 non-null object
al             3094 non-null object
c              2919 non-null object
cy             2919 non-null object
g              3440 non-null object
gr             2919 non-null object
h              3440 non-null object
hc             3440 non-null float64
hh             3440 non-null object
kw             93 non-null object
l              3440 non-null object
ll             2919 non-null object
nk             3440 non-null float64
r              3440 non-null object
t              3440 non-null float64
tz             3440 non-null object
u              3440 non-null object
dtypes: float64(4), object(14)
memory usage: 500.7+ KB

### Counting Time Zone

In [27]:
tz_counts = frame['tz'].value_counts()

#### Count Top 10 Time Zone

In [28]:
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

## Select Multiple Columns

In [34]:
from numpy.random import randn

df = DataFrame(randn(10, 10), index=range(0,10), columns=['A', 'B', 'C', 'D','E','F','G','H','I','J'])

cols = list(df.loc[:,'A':'C']) + ['E'] + list(df.loc[:,'G':'I'])
df[cols]

          A         B         C         E         G         H         I
0 -0.906328  1.140359  0.512742  0.241720  1.163023  0.159320  0.267051
1 -0.531272  0.455603  0.645916  0.904268 -0.225674  0.086153  0.623138
2  0.281375  0.062687 -0.707604  0.153140 -2.043497  1.503219 -0.207315
3  0.011807  2.185876  1.782601  1.965264 -1.386367  0.789775  1.500699
4  0.591911  1.102655  1.687513  2.422992  0.825330 -1.983531  0.473926
5 -0.995780 -0.042564  0.128095 -0.767180  0.100798 -1.165636  0.400331
6  1.207083 -0.361263 -1.095566  1.390458  1.829709  0.229821  1.965907
7 -1.330909  1.014279 -0.288265  0.870741 -1.461545  0.322892  0.402167
8 -1.529603  0.052821  2.925683 -0.481913  0.308598 -0.004559 -0.971918
9 -1.012437 -0.788339  0.772239 -0.781385 -0.931739 -0.875302  0.080511

#### Second method

In [35]:
df.filter(regex='[A-CEG-I]')

          A         B         C         E         G         H         I
0 -0.906328  1.140359  0.512742  0.241720  1.163023  0.159320  0.267051
1 -0.531272  0.455603  0.645916  0.904268 -0.225674  0.086153  0.623138
2  0.281375  0.062687 -0.707604  0.153140 -2.043497  1.503219 -0.207315
3  0.011807  2.185876  1.782601  1.965264 -1.386367  0.789775  1.500699
4  0.591911  1.102655  1.687513  2.422992  0.825330 -1.983531  0.473926
5 -0.995780 -0.042564  0.128095 -0.767180  0.100798 -1.165636  0.400331
6  1.207083 -0.361263 -1.095566  1.390458  1.829709  0.229821  1.965907
7 -1.330909  1.014279 -0.288265  0.870741 -1.461545  0.322892  0.402167
8 -1.529603  0.052821  2.925683 -0.481913  0.308598 -0.004559 -0.971918
9 -1.012437 -0.788339  0.772239 -0.781385 -0.931739 -0.875302  0.080511